.tabs-container {
	border-radius: 4px;
	padding: 3rem 0px;
}

@media(min-width: 821px) {
	.tabs-container {
		margin: 3rem 3rem;
	}
}

.tabs-nav-wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.scroll-button {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0 10px;
}

.tabs-nav {
	display: flex;
	overflow-x: auto;
	scrollbar-width: none;
}

.tab-nav-item {
	cursor: pointer;
	border-bottom: 2px solid transparent;
	text-align: center;
	background: #f8f9fa;
	font-weight: bold;
	width: fit-content;
	padding: 0.5rem 1.7rem;
	white-space: nowrap;
}

.tab-nav-item.active {
	border-bottom: 2px solid #007bff;
	background: #fff;
}

.tab-content {
	padding: 20px;
	background: #fff;
}

@media (max-width: 768px) {
	.tabs-nav-wrapper {
		justify-content: space-between;
	}
}